{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    

    <div class="d-flex justify-content-center">
        {{ form_start(registrationForm) }}
            <div class="frame">
                <h1 class="text-center my-5">Inscription</h1>
                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.phone) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.RGPDConsent) }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
