{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1 class="text-center">Listes des annonces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Numéro de téléphone</th>
                <th>Code postal</th>
                <th>Date de parution</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.photo }}</td>
                <td>{{ annonce.phone }}</td>
                <td>{{ annonce.postalCode }}</td>
                <td>{{ annonce.date ? annonce.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_annonces_show', {'id': annonce.id}) }}">Détail</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a href="{{ path('app_annonces_new') }}">Créer une nouvelle annonce</a>
    {% endif %}
{% endblock %}
